<h1>Credit Cards</h1>

<%= link_to "+ Add card", new_credit_card_path, class: "btn" %>

<div id="credit-cards">
  <% @credit_cards.each do |card| %>
    <div>
      <%= link_to card.name, card %>
    </div>
  <% end %>
</div>